
/* CSS Reset */
:root {
    --Blue: #0099ff;
    --white: grey;
}

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: "antoniobold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    overflow-x: hidden;

    background-color: #252525;
}


/* second nav */
.nav2 {
    position: fixed;
    width: 100%;
    z-index: 3;
    font-family: "antoniobold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #323333;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.nav2 ul {
    display: flex;
    flex-wrap: wrap;
}

#BOOK {
    padding: 22px 5px;
    background-color: var(--Blue);
    color: white;
    margin-left: 10px;
    display: flex;
}

ul li {
    list-style: none;
}

.slider svg {
    bottom: 0;
    opacity: 0.1;
}

.nav2 ul li a {
    text-decoration: none;
    padding: 21px 7px;
    color: var(--Blue);
    font-weight: bold;
}

.nav2 ul li {
    margin: 10px;
}

.nav2 ul li :hover {
    background-color: var(--Blue);
    color: white;
    transition: 0.3s;
}

.active {
    background-color: var(--Blue);
    color: white !important;
}

.nav2 ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* class inside slider element */
.contentS {
    text-align: center;
    border-top: 2px solid rgb(79, 79, 79);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(44, 44, 44);
    background-color: var(--Blue);
    flex-direction: column;
    padding: 4em 1em;
}

.rotate {
    transform: translate(90deg) !important;
}

.contentS p {
    margin: 10px;
    font-size: 25px;
}



#contact h1 {
    color: rgb(23, 23, 23);
}

#contact {
    color: #000;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    box-shadow: 0px 2px 8px 3px #0000004d;
    background-color: var(--Blue);
    scale: 0;
    transition: 0.4s;

}

.content h1 {
    padding: 20px;

}


.head p {
    color: rgb(57, 57, 57);
}

.content2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.head {
    width: 508px;
    text-align: center;
    margin-bottom: 20px;
}

.head h1 {
    /* font-size: 40px; */
    font-weight: bolder;
    color: rgb(32, 32, 32);
    margin: 10px;
}

.head img {
    width: 25px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;

}

.holderText {
    display: flex;
    justify-content: center;
    align-items: center;
}

.holderText span {
    text-align: center;
    margin: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.btns {
    display: inline-block;
    color: #fefefe;
    background-color: #0077B5;
    border: none;
    padding: 8px 45px 5px;
    font-size: 22px;
    font-family: "antoniobold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
}

.btns:hover {
    background-color: #045885;
    border: #000;
}

.btn {
    display: block;
    background-color: var(--Blue);
    color: black;
    padding: 20px 35px;
    font-size: 18px;
    font-weight: bold;
    font-family: "antoniobold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    border: 2px solid black;
    transition: 0.3s;
    cursor: pointer;

}

.btn:hover {
    color: var(--Blue);
    background-color: black;
    transition: 0.3s;

}

.nextSection {
    color: var(--Blue);
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(32, 32, 32);
    flex-wrap: wrap;
}

.nextSection h3 {
    font-size: 1.125em;
}

.nextSection .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
}

.box:nth-child(2) {
    border-left: 2px solid rgb(230, 230, 230);
    border-right: 2px solid rgb(230, 230, 230);

}

.cardSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.cardSection .carding {

    display: flex;

    align-items: center;
    flex-direction: column;
    width: 300px;
    text-align: left;
}

.carding h2 {
    padding: 10px 0;
    border-bottom: 3px solid black;
}

.carding h2:hover {
    color: var(--Blue);
    transition: 0.3s;
    cursor: pointer;
}

.carding p {
    padding: 10px 0px;
}

.cardSection .carding img {
    height: 250px;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.Col li {
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
    color: rgb(179, 179, 179);
}

.Col li:hover {
    color: #0099ff;
    transition: 0.3s;
}

.footer {
    color: white;
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    background-color: #1e1e1e !important;
    flex-wrap: wrap;
    text-align: left;
}

.footer span {
    margin-top: 10px;
    color: gray;
    font-weight: bold;
}


/* Animated text design */

.texter {

    height: 100vh;
    background-color: rgb(37, 37, 37);
}

.texter button {
    position: absolute;
}

#myVideo {

    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 100%;
}

.book {
    border: none;
    border-radius: 4px;
    z-index: 1;
    bottom: 10px;
    left: 10px;
    border: none;

    width: 200px;
    transition: all 0.5s;
    cursor: pointer;

}

.book2 {
    z-index: 1;
    bottom: 10px;
    left: 15%;
    position: absolute;
    scale: 0;
    transition: 0.3s;
    background-color: rgb(103, 92, 113);
}

#BookNow:hover .book2 {
    scale: 1 !important;
    background-color: ghostwhite;
}

.slide {
    z-index: 1;
    top: 20%;
    position: absolute;
    left: 0;
    width: 200px;
    display: flex;
    flex-direction: column;
    margin: 2px;
    height: 100px;
}

.link1:hover {
    transition: 0.3s;
    transform: translate(0);
}

.linkers {
    display: flex;
    justify-content: center;
    align-items: center;


}


.sharing {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    background-color: var(--Blue) !important;
    display: flex;
    padding: 40px 0px;
}



.consultation {
    margin: 10px;
    background-color: #000;
    color: var(--Blue);
    font-size: 17px;
    padding: 15px 10px;
    border: 2px solid black;
    cursor: pointer;
}

.consultation:hover {
    background-color: var(--Blue);
    color: black;

}

.sharing img:hover {
    transition: 0.4s;
    filter: invert(80%);
}

.link1 {
    font-weight: bold;
    color: rgb(36, 36, 36);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    background-color: var(--Blue);
    width: 200px;
    font-size: 1.1rem;
    padding: 20px 75px 20px 10px;
    margin: 2px 0;
    transform: translate(-130px);
}

.link1 img {
    width: 30px;
    position: absolute;
    right: 22px;
    transform: rotate(90deg);
}

#twitter img {
    width: 32px;
}

.sharing img:hover {
    filter: invert(100%);
    transition: 0.3s;
}

.linkers li {
    cursor: pointer;
    padding: 20px;
    list-style: none;
    transition: 0.3s;
}

.linkers li a {
    color: white;
}

.linkers li a:hover {
    transition: 0.3s;
    color: #c6d92f;
}

.section {
    display: flex;


}


.section .right {
    margin: 5px;
    color: white;
    flex: 1;
    flex-direction: column;
    display: table-cell;
    justify-content: center;
    align-items: center;
}

.atv {
    background-color: rgb(37, 37, 37);
    color: var(--Blue);
    display: block;
    margin: auto;
    padding: 30px 200px;
}

.atv p {
    color: rgb(218, 218, 218);
    text-align: left;
    margin: 25px 0;
}

.atv img {
    max-width: 100%;

}

.sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 300px;
    z-index: 3;
    position: fixed;
    transform: translateX(100%);
    transition: 0.3s;
    right: 0;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.07);
    flex-direction: column;
}

.show {
    flex-direction: column;
    right: 0;
    background: rgb(208, 208, 208);
    transform: translateX(0) !important;
    height: 100vh;
    width: 300px;
    z-index: 1;
    position: fixed;
    transition: 0.3s;
}

.show p {
    color: black;
}

.insider {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #7a7878;
}

.insider p {
    color: #2c2c2c;

}

:root {
    --color-icon: #302e2e;
    --social-icon1: #e4405f;
    --social-icon2: #3b5999;
    --social-icon3: #e4405f;
    --social-icon4: #cd201f;
    --social-icon5: #0077B5;
}


.homesection {
    display: flex;
    align-items: center;
    justify-content: center;


}
#numberingHead{
    color: var(--Blue);
}
.icon-list {
    width: 100%;
    max-width: 50rem;
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
}

.icon-item {
    list-style: none
}

.icon-link {
    display: inline-flex;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--color-icon);
    width: 3rem;
    height: 3rem;
    transition: .5s linear;
    position: relative;
    z-index: 1;
    margin: auto
}

.icon-link:hover {
    color: #fff;
}

.icon-link i {
    margin: auto;
}

.icon-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 3rem;
    height: 3rem;
    background: #000;
    border-radius: 50%;
    z-index: -1;
    transform: scale(0);
    transition: 0.3s cubic-bezier(.95, .32, .37, 1.21);
}

.icon-link:hover::before {
    transform: scale(1);
}

.icon-item:nth-child(1) a:hover:before {
    background: var(--social-icon1);
}

.icon-item:nth-child(2) a:hover:before {
    background: var(--social-icon2);
}

.icon-item:nth-child(3) a:hover:before {
    background: var(--social-icon3);
}

.icon-item:nth-child(4) a:hover:before {
    background: var(--social-icon4);
}

.icon-item:nth-child(5) a:hover:before {
    background: var(--social-icon5);
}

/* Contact us */
#contact form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
}

#contact form input,
textarea {
    color: var(--Blue);
    padding: 10px 10px;
    border: 1px solid rgba(196, 196, 196, 0.348);
    outline: none;
    border-radius: 2px;

}

#contact form input:focus,
textarea:focus {
    transition: 0.3s;
    box-shadow: 0px 0px 0px 2px #0099ff81;
}

#contact form input:last-child {
    color: white;
    width: 200px;
}

.footer hr {
    color: white;
}

.care h1 {
    border-bottom: 5px solid var(--Blue);
    padding: 5px !important;
    margin: 20px;

}

.care p {
    font-size: 20px !important;
    color: rgb(50, 50, 50) !important;

}

/* hamicon */
.hamburger-menu {

    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
}

.bar-top,
.bar-middle,
.bar-bottom {
    height: 3px;
    background: white;
    border-radius: 5px;
    margin: 2px 0;
    transform-origin: left;
    transition: all 0.5s;
}

.change1 {
    height: 3px;
    background: white;
    border-radius: 5px;
    margin: 2px 0;
    transform-origin: left;
    transition: all 0.5s;
    transform: rotate(45deg);
}

.change2 {
    height: 3px;
    background: white;
    border-radius: 5px;
    margin: 2px 0;
    transform-origin: left;
    transition: all 0.5s;
    transform: translateX(1rem);
    opacity: 0;
}

.change3 {
    height: 3px;
    background: white;
    border-radius: 5px;
    margin: 2px 0;
    transform-origin: left;
    transition: all 0.5s;
    transform: rotate(-45deg);
}

.hamburger-menu:hover .bar-top {
    background-color: var(--white);
}

.hamburger-menu:hover .bar-middle {
    background-color: var(--white);
}

.hamburger-menu:hover .bar-bottom {
    background-color: var(--white);
}

/* Services Section */
.portContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #2c2c2c;
}

#bgDark {
    background-color: rgb(60, 59, 59);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p1 {
    display: flex;
    flex-wrap: wrap;
}
.marginTop{
    margin-top: 50px;
}
.portContainer img {
    width: 330px;
    margin: 20px;
    cursor: pointer;
}
.portContainer video {
    width: 410px !important;
    display: block !important;
    margin:  auto !important;
    padding: 20px !important;

}
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    z-index:1 ;
    opacity: 0;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay h1 {
    color: white;
}

.imageSection {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 90%;
}

.imgSection:hover .overlay {
    opacity: 0.7;

}

.detail {
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    padding: 10px;
}

.men {
    filter: invert(100%);
    z-index: 5;
    display: none;
    padding: 9px 10px;

}

.men img {
    width: 30px;
}

.numbering {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.numbering h1 {
    color: var(--Blue);
}

.numbering .first {
    color: var(--Blue);
    text-align: center;
    padding: 20px;
}

.numbering .first h1 {
    font-size: 45px;
}

.numbering p {
    font-size: 25px;
}

/* Responsiveness */
@media (max-width:500px) {
    .slide {
        top: 6.4%;
        gap: 197px;
        display: flex;
    }
}

@media (max-width:790px) {

    .book {
        left: 25%;
    }

    .none {
        transition: 0.3s;
        display: none !important;
    }

    .menShow {
        display: flex !important;
    }

    #contact {
        width: 90%;
    }

    .head img {
        position: relative;
    }

    .active {
        background-color: transparent;
    }

    .men {
        display: block;
    }

    .footer {
        text-align: center;

    }

    .content {
        padding: 5px;
    }

    .section {
        display: flex;
        flex-wrap: wrap;
    }

    .contentS h1 {
        font-size: 3rem;
    }

    .head {
        width: fit-content;
    }

    .atv {
        padding: 55px 0px 0px 10px;
    }
}
.videoSection video{
    width: 400px;
}